---
extension: html
filter:
  - erb
  - haml
---
!!! XML
!!! Strict

- @home = "/SyntaxHighlighter"
- @partials = "#{@home}/partials"
- @sh = "/pub/sh/current"

%html{ :xmlns => 'http://www.w3.org/1999/xhtml' }
  %head
    %title= "SyntaxHighlighter#{sh_title(@page, ' - ')}"
    %script{ :type => 'text/javascript', :src => "#{@home}/scripts/jquery-1.4.2.js" }
    = render(:partial => "/SyntaxHighlighter/partials/tracking")
    
  %body.no_sponsor
    #title
      %h1
        %a{ :href => "#{@home}" } SyntaxHighlighter
        %span#version= sh_version

      #whatsnew
        %a{ :href => "#{@home}/whatsnew.html"} whats new?
        
      #blurb
        SyntaxHighlighter is an open source Java Script client side code syntax highlighter.

      #meta
        %a{ :href => "#{@home}/donate.html" } donate
        %a{ :href => "#{@home}/download" } download
        %a{ :href => "#{@home}/manual/installation.html" } installation
        %a{ :href => "#{@home}/manual/api/autoloader.html" } autoloader
        %a{ :href => "#{@home}/manual/configuration" } configuration
        %a{ :href => "http://twitter.com/syntaxhighlight" } @syntaxhighlight
        
      %h2= @page.title
    
    #content
      = @content
    
    #clear

    #copyright
      SyntaxHighlighter was originally created in 2004 and is still maintained by Alex Gorbatchev.
      Copyright 2010 Alex Gorbatchev.
    
    #footer
      %a{ :href => "#{@home}/about.html" } about
      %a{ :href => "#{@home}/manual/brushes/" } syntaxes
      %a{ :href => "#{@home}/manual/themes/" } themes
      %a{ :href => "#{@home}/integration.html" } integration 
      %a{ :href => "#{@home}/hosting.html" } hosting 
      %a{ :href => "#{@home}/manual/older_versions.html" } legacy 
      %a{ :href => "#{@home}/manual/api" } apis 
      %a{ :href => "/forums" } forums
      %a{ :href => "http://bitbucket.org/alexg/syntaxhighlighter/issues/"} bugs
      %a{ :href => "http://bitbucket.org/alexg/syntaxhighlighter/"} source code
      %a{ :href => "#{@home}/contact.html"} contact
      
      / <script type="text/javascript">var flattr_url = 'http://alexgorbatchev.com/SyntaxHighlighter';</script>
      / <script src="http://api.flattr.com/button/load.js" type="text/javascript"></script>

    /
      #sponsor
        %a{ :href => "http://www.dbnetsuite.com/shared/track.aspx?code=SH", :onclick => "_gaq.push(['_trackEvent', 'sponsor', 'click', 'dbnetsuite']);"}
          %img{ :src => "http://alexgorbatchev.com.s3.amazonaws.com/sponsors/dbnet/dbnetsuite.png", :onload => "_gaq.push(['_trackEvent', 'sponsor', 'load', 'dbnetsuite']);" }
      
  %link{ :type => 'text/css', :rel => 'stylesheet', :href => "#{@home}/css/main.css" }
  %link{ :type => 'text/css', :rel => 'stylesheet', :href => "#{sh_pub}/styles/shCore.css" }
  %link{ :type => 'text/css', :rel => 'stylesheet', :href => "#{sh_pub}/styles/#{@page._meta_data['theme'] || 'shThemeDefault'}.css" }
  %script{ :type => 'text/javascript', :src => "#{sh_pub}/scripts/shCore.js" }
  %script{ :type => 'text/javascript', :src => "#{sh_pub}/scripts/shAutoloader.js" }
  %script{ :type => 'text/javascript', :src => "#{sh_pub}/scripts/shBrushXml.js" }
  %script{ :type => 'text/javascript', :src => "#{sh_pub}/scripts/shBrushJScript.js" }
  %script{ :type => 'text/javascript', :src => "#{sh_pub}/scripts/shBrushCss.js" }

  %script{ :type => 'text/javascript', :src => "#{@home}/scripts/main.js" }

= render(:partial => "/SyntaxHighlighter/partials/services")

